/**********************************************************
    BASE
***********************************************************/

// #2E2A29
// #211E1D

*,
*:before,
*:after {
    box-sizing: border-box;
}

#root, html {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 100px;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
}