// #508365 - nice green

/*
#99B898
#FECEA8
#FF847C
#E84A5F
#2A363B
*/

/*
#594F4F
#547980
#45ADA8
#9DE0AD
#E5FCC2
*/

/*
selected - #95d5d2
*/

nav {
    color: #FFF;
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #594F4F;
    font-family: "Arial";
    top: 0;
    z-index: 2;
    position: fixed;
}


.fixed-nav {
    position: fixed;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1)
}

.header-logo {
    font-size: 20px;
    padding-right: 15px;
    border-right: 2px solid #95d5d2;
    text-align: center;
    letter-spacing: .8px;
    margin: auto 0;
    margin-left: 20px;
}

.center-header-wrapper {
    margin: auto;
}

/**********************************************************
    LIST ITEMS
***********************************************************/

.header-list-item {
    margin-right: 15px;

    span {
        color: #95d5d2;
        margin: 0;
        padding-left: 15px;
    }

    &:last-of-type {
        margin-right: 15px;

        span {
            visibility: hidden;
        }
    }
}

/**********************************************************
    SECTION LINKS
***********************************************************/

.section-link,
.section-link-active {
    text-decoration: none;
    color: #FFF;
    padding-bottom: 2px;
    overflow-x: hidden;
    position: relative;
    display: inline-flex;

    &:active,
    &:hover {
        color: #fff;
    }
}



.section-link {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #95d5d2;
        width: 100%;
        transform: translate3d(-110%, 0, 0);
        -webkit-transform: translate3d(-110%, 0, 0);
        transition: transform .3s ease-in-out;
        -webkit-transition: transform .3s ease-in-out;
    }

    &:hover:after {
        transform: translate3d(0%, 0, 0);
        -webkit-transform: translate3d(0%, 0, 0);
    }
}

.section-link-active {
    border-bottom: 1px solid #95d5d2;
}

/**********************************************************
    LEFT HEADER
***********************************************************/

.left-header-wrapper {
    display: flex;
    flex: flex-row;
}

/**********************************************************
    ANIMATION
***********************************************************/

// make next sections float up from bottom

@keyframes grow {
    from { width: 0; }
    to { width: 30px;}
}

@keyframes grow-short {
    from { width: 0; }
    to { width: 17px;}
}

.nav-bar-animation {
    // visibility: hidden;
    display: block;
    transition: 275ms all ease;
    -webkit-transition: 275ms all ease;
    cursor: pointer;
    padding: 10px 0;
    margin-right: 15px;
    padding: 10px 0;
    height: 40px;
    width: 35px;
    box-sizing: border-box;
    position: fixed;
    top: 15px;
    right: 15px;
    background: #594F4F;
    border: none;

    div {
        font-family: 'Montserrat', sans-serif;
        background: #FFF;
        box-sizing: border-box;
        display: block;
        font-size: 18px;
        height: 3px;
        width: 30px;
        line-height: 28.8px;
        margin-bottom: 4px;
        position: relative;
        transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        animation-direction: alternate;
        animation: 1s ease-in grow;
    
        &:last-of-type {
            animation: 1s linear grow-short;
            width: 17px;
            margin-left: auto;
            margin-right: 5px;
        }
    }
}

.nav-bar-active {
    display: inline-block;
    transition: 275ms all ease;
    -webkit-transition: 275ms all ease;
    cursor: pointer;
    padding: 10px 0;
    margin-right: 15px;
    padding: 10px 0;
    height: 40px;
    width: 35px;
    box-sizing: border-box;
    position: fixed;
    top: 15px;
    right: 15px;
    background: #594F4F;
    border: none;

    div {
        font-family: 'Montserrat', sans-serif;
        background-color:#FFF;
        box-sizing: border-box;
        display: block;
        font-size: 18px;
        height: 3px;
        width: 30px;
        line-height: 28.8px;
        margin-bottom: 4px;
        position: relative;
        transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
    }

    .bar-one {
        transform: translate(0, 7px) rotate(135deg);
        -webkit-transform: translate(0, 7px) rotate(135deg);
        width: 30px;

    }

    .bar-two {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 30px;

    }

    .bar-three {
        width: 0;
        margin-left: 0;
    }

}

/**********************************************************
    MEDIA QUERY TO FIX MOBILE
***********************************************************/

@media (min-width: 900px) {
    .nav-bar-animation {

        &:hover {

            .bar-one {
                transform: translateY(6px) rotate(90deg);
                -webkit-transform: translateY(6px) rotate(90deg);
                width: 30px;
            }
    
            .bar-two {
                width: 30px;
            }
    
            #bar-three {
                width: 0;
                margin-left: auto;
            }
        }
    }
}


