
/**********************************************************
    BASE
***********************************************************/

// parameters instead of hash links. Possibly more accurate on moving nav to location.

.a-section,
.a-section-no-padding {
    min-height: 1000px;
    max-height: 1000px;
    width: 100%;
    overflow: hidden;
}

.a-section,
.a-section-no-padding {
    padding-top: 70px;

    &:last-of-type {
        margin-bottom: 0;
    }
}


/**********************************************************
    ABOUT
***********************************************************/

@media (max-width: 670px) {

    .section-about {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    .section-about-right {
        order: 1;
    }

    .section-about-left {
        order: 2;
        white-space: nowrap;
    }
}

/**********************************************************/

.section-about-right {
    margin: 0 auto;
}

.section-about-header {
    height: 100px;
    display: flex;
    // margin: 0 auto;

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1.4px;
        color: #FFF;
        font-size: 32px;
    }
}

.section-about {
    width: 100%;
    display: flex;
    flex: flex-row;
    background: #594F4F;
}

.section-about-left {
    width: 40.2%;
    display: grid;
    grid-template-columns: repeat(5, 15vmin);
    grid-template-rows: repeat(6, 15vmin);
}

/**********************************************************
    Projects
***********************************************************/

.section-projects {
    display: flex;
    background-color: #FFF;

    h2 {
        margin: 0;
    }
}

/**********************************************************
    Projects
***********************************************************/

.section-work {
    display: flex;
    background-color: #594F4F;
}